body {
  margin: 0 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gloria Hallelujah', sans-serif;
  height: 100vh;
}

div.game {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

section#sidebar {
  border: 2px solid black;
  border-radius: 5px;
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

canvas {
  border: 2px solid black;
  border-radius: 5px;
  background: white;
  width: 900px;
}

h1 {
  padding-top: 20px;
  text-align: center;
  font-size: 70px;
  color: #e64f62;
  margin: 0;
  font-family: 'Cabin Sketch', sans-serif;
}

p {
  text-align: center;
  color: black;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: #79c199;
}

div.instructions {
  margin: 0 5%;
}

canvas#score {
  margin: 5%;
  // border: 2px solid black;
  // border-radius: 5px;
  width: 90%;
}
